nav{
	background: #808080;
	position:fixed;
	top:0;
	padding: 10px 60px;
	width:100%;
}
nav img{
	position:absolute;
	margin:0 70px;
	left:0;
	width:50px;
	border: 2px solid;
	border-radius:50%;
}
ul{
	list-style-type: none;
	padding:0 170px;
}
li{
	display: inline;
	padding:0 5px;
	border-right:2px solid #333;
}
main{
	position:relative;
	margin:0 auto;
	width: 600px;
	height: 300px;
	margin-top:200px;
	border:10px dotted green;
}
main img{
	width:200px;
	height:200px;
}
.cat{
	position: absolute;
	left:-90px;
	top:-90px;
}
.dog{
	position: absolute;
	right:-90px;
	bottom:-90px;
}
body{
	background-image: url("../images/outerspace_landscape.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}